<div class="input-group-btn">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if picked %}
        {{ picked.name }}
    {% else %}
        with
    {% endif %}
    </button>
    <div class="dropdown-menu">
        {% if picked %}
            <a class="dropdown-item" href="#">{{ picked.name }}</a>
            <div role="separator" class="dropdown-divider"></div>
        {% endif %}
        {% for user in users %}
            <a class="dropdown-item" href="#">{{ user.name }}</a>
        {% endfor %}
    </div>
</div>
