{% extends "base.html" %}
{% block content %}
    <h1>Rankings</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Scored</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ player.user.name }}</td>
                    <td>{{ player.scored }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
